.sidebar {
  padding-top: 0.75em;
  padding-left: 0.75em;
}

.board-information {
  border-radius: 0.25em;
  background: #CFC;
  padding: 1em;
}

.headline-board-name {
  border-radius: 0.25em;
  background: #39F;
  color: #FFF;
  font-size: 1.25em;
  padding: 0.25em 0.50em;
}

.board-description {
  background: #EFE;
}

.thread-form {
  background: #f2f3f7;
  padding: 1.5em;
}

.username-in-thread {
  margin-left: 0.75em;
  color: #008000;
  display: inline;
}